body {
  background: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h1 {
  margin-bottom: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.container {
  display: flex;
  gap: 30px;
  margin-top: 20px;

  align-items: center;
}

/* 입력창 스타일 */
#valueInput {
  width: 160px;
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;

  color: white;
  background: #1a1a1a;

  border: 2px solid #444;
  border-radius: 10px;

  outline: none;
  transition: all 0.2s;
}

/* 포커스 효과 */
#valueInput:focus {
  border-color: #00c8ff;
  box-shadow: 0 0 10px rgba(0, 200, 255, 0.5);
}

/* 숫자 입력창의 스핀 버튼 제거 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 슬라이더(미사용) */
/*
input[type="range"] {
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 3px;
  outline: none;
}
*/

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00c8ff;
  cursor: pointer;
}

#value {
  font-size: 28px;
  margin-bottom: 20px;
}

input[type="range"] {
  width: 400px;
}

#binary {
  margin: 15px;
  font-size: 18px;
  color: #aaa;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.warning {
  color: red;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}

.Hrg {
  background: url("assets/합류기.png") center/contain no-repeat;
}
.Brg {
  background: url("assets/브릿지.png") center/contain no-repeat;
}
.Bbg {
  background: url("assets/분배기.png") center/contain no-repeat;
}

.r90 {
  transform: rotate(90deg);
}
.r180 {
  transform: rotate(180deg);
}
.r270 {
  transform: rotate(270deg);
}
